
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
html,body{
  width: 100%;
  height: 100%;
  
}
.parent{
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  font-size: 14px;
  border: 1px solid #dadada;
  padding: 3px 6px;
  border-radius: 5px;
  gap:3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h3{
  font-size: 28px;

  font-weight: 700;
}
.center span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 19px;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin: 10px 0;
}
.tag h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
  
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #b1b1b1e3;
  border-radius: 10px;
  padding: 15px 10px 2px 10px;
}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.bottom h3{
  font-size: 16px;

}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}
